In [30]:
import numpy as np
import pandas as pd

from itertools import product

In [2]:
df_test_data = pd.read_csv("112_F_experiment.csv")
df_results = pd.read_csv("human_evaluation_form_data.csv")

In [ ]:
df_test_data.head()

In [ ]:
df_results.head()

## Process data

In [11]:
summary_id = []

for _g, _id in zip(df_test_data['group'], df_test_data['for app id']):
    summary_id.append(str(_g) + str(_id))
    
df_test_data['summary_id'] = summary_id

## Analysis by admission status

In [13]:
summary_id_to_admission_status = {}

for _, row in df_test_data.iterrows():
    summary_id = row['summary_id']
    admission_status = row['類別']
    
    summary_id_to_admission_status[summary_id] = admission_status

In [ ]:
summary_id_to_admission_status

### Aggregate results
```
## Format

ours_results = {
    "F": {
        "coverage": [],
        "diversity": [],
        "uniqueness": [],
        "convenience": []
    },
    "正取": {
        "coverage": [],
        "diversity": [],
        "uniqueness": [],
        "convenience": []
    },
    "備取": {
        "coverage": [],
        "diversity": [],
        "uniqueness": [],
        "convenience": []
    },
}

## similar with chatgpt_results
```

In [49]:
summary_id = range(1, 1+6)
metrics = ["coverage", "diversity", "uniqueness", "convenience"]
summary_version = ["A", "B"]

In [50]:
ours_results = {
    "F": {
        "coverage": [],
        "diversity": [],
        "uniqueness": [],
        "convenience": []
    },
    "正取": {
        "coverage": [],
        "diversity": [],
        "uniqueness": [],
        "convenience": []
    },
    "備取": {
        "coverage": [],
        "diversity": [],
        "uniqueness": [],
        "convenience": []
    },
}

chatgpt_results = {
    "F": {
        "coverage": [],
        "diversity": [],
        "uniqueness": [],
        "convenience": []
    },
    "正取": {
        "coverage": [],
        "diversity": [],
        "uniqueness": [],
        "convenience": []
    },
    "備取": {
        "coverage": [],
        "diversity": [],
        "uniqueness": [],
        "convenience": []
    },
}

In [52]:
for _, row in df_results.iterrows():
    _group = row['組別']
    
    
    for i, (sid, sv, m) in enumerate(product(summary_id, summary_version, metrics)):
        value = row[i + 11]
        
        app_info = df_test_data.query("`group` == @_group and `for app id` == @sid")
        ## query to get status
        status = app_info['類別'].to_list()[0]
        
        ## append results to corresponding summary version
        if app_info['ChatGPT Summary ID'].to_list()[0] == sv:
            chatgpt_results[status][m].append(value)
        elif app_info['Our Summary ID'].to_list()[0] == sv:
            ours_results[status][m].append(value)

In [60]:
## result of chatgpt
df_chatgpt_results = pd.DataFrame(chatgpt_results)

df_chatgpt_results['F'] = df_chatgpt_results['F'].apply(np.mean)
df_chatgpt_results['正取'] = df_chatgpt_results['正取'].apply(np.mean)
df_chatgpt_results['備取'] = df_chatgpt_results['備取'].apply(np.mean)

df_chatgpt_results = df_chatgpt_results.transpose()
df_chatgpt_results

    coverage  diversity  uniqueness  convenience
F   3.576923   3.153846    3.153846     3.346154
正取  3.538462   3.192308    3.384615     3.461538
備取  3.500000   3.307692    3.269231     3.423077

In [61]:
## result of ours
df_ours_results = pd.DataFrame(ours_results)

df_ours_results['F'] = df_ours_results['F'].apply(np.mean)
df_ours_results['正取'] = df_ours_results['正取'].apply(np.mean)
df_ours_results['備取'] = df_ours_results['備取'].apply(np.mean)

df_ours_results = df_ours_results.transpose()
df_ours_results

    coverage  diversity  uniqueness  convenience
F   3.692308   3.653846    3.730769     3.653846
正取  3.692308   3.384615    3.615385     3.653846
備取  3.846154   3.769231    3.461538     3.576923